{% extends "global/base.html" %}

{% block bodyContent %}
<h1>Minhas Notificações</h1>

<table border='1'>
    <thead>
        <tr>
            <th>Mensagem</th>
            <th>Data de envio</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for notificacao in notificacoes %}
            <tr>
                <td>{{ notificacao.msg }}</td>
                <td>{{ notificacao.data_envio }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "index_page" %}">Voltar</a>

{% endblock bodyContent %}