{% extends "global/base.html" %}

{% block bodyContent %}

<h1>Lista de padarias</h1>

<table border="1">
    <thead>
        <th>Padaria</th>
        <th>Ação</th>
    </thead>
    <tbody>
        {% for padaria in padarias %}
            <tr>
                <td>{{ padaria.padaria.nome}}</td>
                <td><a href="{% url "inscrever_padaria" padaria.id %}">Inscrever-se</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<a href="{% url "index_page" %}">Voltar</a>

{% endblock bodyContent %}